bin/Debug/net7.0/appsettings.Development.json
bin/Debug/net7.0/appsettings.json
bin/Debug/net7.0/AutoMapper.dll
bin/Debug/net7.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
bin/Debug/net7.0/Grafitist.Backend.deps.json
bin/Debug/net7.0/Grafitist.Backend.dll
bin/Debug/net7.0/Grafitist.Backend.exe
bin/Debug/net7.0/Grafitist.Backend.pdb
bin/Debug/net7.0/Grafitist.Backend.runtimeconfig.json
bin/Debug/net7.0/Humanizer.dll
bin/Debug/net7.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
bin/Debug/net7.0/Microsoft.OpenApi.dll
bin/Debug/net7.0/Mono.TextTemplating.dll
bin/Debug/net7.0/MySqlConnector.dll
bin/Debug/net7.0/Newtonsoft.Json.dll
bin/Debug/net7.0/Pomelo.EntityFrameworkCore.MySql.dll
bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net7.0/System.CodeDom.dll
bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
obj/Grafitist.Backend.csproj.nuget.dgspec.json
obj/Grafitist.Backend.csproj.nuget.g.props
obj/Grafitist.Backend.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/Grafitist.Backend.AssemblyInfo.cs
obj/Debug/net7.0/Grafitist.Backend.AssemblyInfoInputs.cache
obj/Debug/net7.0/Grafitist.Backend.assets.cache
obj/Debug/net7.0/Grafitist.Backend.csproj.AssemblyReference.cache
obj/Debug/net7.0/Grafitist.Backend.csproj.CopyComplete
obj/Debug/net7.0/Grafitist.Backend.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/Grafitist.Backend.csproj.FileListAbsolute.txt
obj/Debug/net7.0/Grafitist.Backend.dll
obj/Debug/net7.0/Grafitist.Backend.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/Grafitist.Backend.genruntimeconfig.cache
obj/Debug/net7.0/Grafitist.Backend.GlobalUsings.g.cs
obj/Debug/net7.0/Grafitist.Backend.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net7.0/Grafitist.Backend.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net7.0/Grafitist.Backend.pdb
obj/Debug/net7.0/project.razor.json
obj/Debug/net7.0/staticwebassets.build.json
obj/Debug/net7.0/ref/Grafitist.Backend.dll
obj/Debug/net7.0/refint/Grafitist.Backend.dll
obj/Debug/net7.0/staticwebassets/msbuild.build.Grafitist.Backend.props
obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Grafitist.Backend.props
obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Grafitist.Backend.props
appsettings.Development.json
Misc/AesEncryption.cs
Misc/TokenProvider.cs
Migrations/
.vscode